@use "sass:map";
$theme-colors: ( "success": #28a745, "info": #17a2b8, "warning": #ffc107, );
$colors: ( light: #ccc, dark: #000);
$brand-colors: ( main: red, alternative: blue);
//map.get
.alert {
    background-color: map-get($theme-colors, "warning");
}

//map.megre
$merged: map-merge($colors, $brand-colors);
.element {
    content: map-get($merged, alternative);
}

//map.has-key
@debug map-has-key($colors, "light"); // true
@debug map-has-key($colors, "medium"); // false
;
.m-lightbox {
    z-index: layer(lightbox);
}

//map.has
@debug map-has($colors);
//map.merge
@debug map-merge($colors, $brand-colors);
@debug map-merge($colors, ("purple": purple));

/* For each key in the map, created an own class */

$sizes: 40px,
50px,
80px;
@each $size in $sizes {
    .icon-#{$size} {
        font-size: $size;
        height: $size;
        width: $size;
    }
}